In [1]:
import pandas as pd
data = pd.read_csv('Q_learning.csv')

In [2]:
data.describe()

       Unnamed: 0  total_reward  negative_reward       trial
count  100.000000    100.000000       100.000000  100.000000
mean    49.500000     26.040000        -2.825000   19.200000
std     29.011492     10.063355         1.856432    9.503854
min      0.000000      0.000000        -7.500000    2.000000
25%     24.750000     21.875000        -4.000000   12.000000
50%     49.500000     25.750000        -2.500000   20.000000
75%     74.250000     30.375000        -1.500000   26.000000
max     99.000000     55.000000         0.000000   44.000000

In [2]:
data.describe()

       Unnamed: 0  total_reward  negative_reward      trial
count  100.000000    100.000000       100.000000  100.00000
mean    49.500000     23.745000        -1.805000   17.42000
std     29.011492      9.186204         1.742074   10.39831
min      0.000000      0.000000        -8.000000    2.00000
25%     24.750000     18.875000        -3.000000   10.75000
50%     49.500000     23.500000        -1.500000   15.00000
75%     74.250000     28.625000        -0.500000   26.00000
max     99.000000     64.000000         0.000000   51.00000

In [3]:
data2 = pd.read_csv('planner.csv')

In [4]:
data2.describe()

       Unnamed: 0  total_reward  negative_reward       trial
count  100.000000    100.000000       100.000000  100.000000
mean    49.500000     16.300000        -6.100000   12.300000
std     29.011492      4.520436         4.556048    5.549593
min      0.000000      4.000000       -22.000000    4.000000
25%     24.750000     13.000000        -9.000000    8.000000
50%     49.500000     16.000000        -5.500000   11.000000
75%     74.250000     19.000000        -2.750000   16.000000
max     99.000000     28.000000         0.000000   31.000000

In [5]:
data3 = pd.read_csv('planner_and_traffic_rule.csv')

In [6]:
data3.describe()

       Unnamed: 0  total_reward  negative_reward       trial
count  100.000000    100.000000            100.0  100.000000
mean    49.500000     22.400000              0.0   12.300000
std     29.011492      3.629286              0.0    5.549593
min      0.000000     18.000000              0.0    4.000000
25%     24.750000     19.500000              0.0    8.000000
50%     49.500000     22.000000              0.0   11.000000
75%     74.250000     24.500000              0.0   16.000000
max     99.000000     32.000000              0.0   31.000000